*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

body{
  background: url(https://thumbs.dreamstime.com/z/vector-realistic-isolated-neon-sign-quiz-frames-logo-template-decoration-covering-wall-background-concept-trivia-193733773.jpg);
   scroll-behavior: smooth;
   height: 150vh;
   width: auto;
   /* position: relative; */
}

.navbar{
     display: flex;
      justify-content: space-evenly;
      height:  70px;
         /* position: sticky; */
       align-items: center;
       background-color: black;
     
        box-shadow: 0 0 10px  rgb(24, 218, 218);
}

a{
    text-decoration: none;
    font-size:xx-large;
    font-weight: 600;
    /* color: rgb(165, 110, 42); */
    color: #fff;
}


#start{
        padding: 40px 120px;
        margin: auto;
         /* justify-content: center; */
         position: relative;
         top:18%;
         left: 38%;
         letter-spacing: 5px;
         font-size: 40px;
  border-radius: 10px;
   background-color: blueviolet;
    color: #fff;
    font-weight: 600;
     font-style: italic;
     box-shadow: 0 0 20px  rgb(57, 9, 92);
      border: none;
}


/* -----  medium screen  ------  */

@media screen and (max-width:1024px) {
   #start{
    
    padding: 15px 80px;
    font-size: 30px;
   }
   body{
     background-repeat: no-repeat;
   }
  
}

/* -----  small screen  ------  */

@media screen and (max-width:600px) {
  #start{
   
   padding: 10px 30px;
   position: relative;
   top:23%;
   left: 30%;
   letter-spacing: 5px;
   font-size: 20px;
  }
 

}


