
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
     background-image: url(https://www.shutterstock.com/image-photo/question-mark-on-blue-background-260nw-1595492578.jpg);
     background-size: cover;
     background-repeat: no-repeat;
      height: 110vh;
}

.container{
     /* border: 1px solid red; */
     /* text-align: center; */
    
      height: 100vh;
}

h1{
     text-align: center;
      margin-top: 30px;
      font-size: 50px;
}


.inner-div{
     /* border: 1px solid brown; */
     box-shadow: 0 0 30px rgb(87, 85, 151);
     width: 50%;
     margin: auto;
     position: relative;
     top: 10%;
     right: 10%;
     height: 70vh;
     border-radius: 5px;
}

.ques{
     
        margin: auto;
         width: 90%;
         height: 10vh;
         align-items: center;
          /* font-size: 1rem; */
        margin-bottom: 20px;
        color: #fff;
}

.option{
     /* border: 1px solid rgb(188, 186, 186) ; */
      box-shadow: 0 0 5px rgb(43, 43, 212);
      margin: auto;
       width: 90%;
       height: 32vh;
       margin-top: 35px;
       color: #fff;
       padding: 5px;
}

.optiondata{
   
    display: flex;
    margin-left: 20px;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}




.buttons{
     /* border: 1px solid black; */
     margin: auto;
      margin-top: 20px;
       display: flex;
       justify-content: space-around;
       width: 90%;
}

#next{
     padding: 15px 35px ;
     border: none;
     border-radius: 10px;
     background: rgb(57, 193, 57);
     color: #fff;
     font-weight: 600;
     font-size: 1.2rem;
}
#skip{
    padding: 15px 35px ;
    border: none;
    border-radius: 10px;
    background: rgb(180, 44, 44);
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}


/* -----  small screen  ------  */

@media screen and (max-width:667px) {
     .inner-div{
          /* border: 1px solid red; */
           /* flex-direction: column; */
           width: 90%;
           top: 1%;
           height: 80vh;
           left: 2%;
           margin: auto;
     }
     h2{
          font-size: 10px;
           margin-top: 1px;
     }
    
     .option{
       height: 35vh;
    }
     .buttons{
          flex-direction: column;
          gap: 5px;
     }
     #next{
          padding: 5px 12px ;
          border: none;
          border-radius: 10px;
          background: rgb(57, 193, 57);
          color: #fff;
          font-weight: 600;
          font-size: 1.2rem;
     }
     #skip{
          padding: 5px 12px ;
          border: none;
          border-radius: 10px;
          color: #fff;
          font-weight: 600;
          font-size: 1.2rem;
     }

     
#optionOne {
     font-size: 7px;
}
#optiontwo{
    font-size: 7px;
}
#optionthree{
    font-size: 7px;
}
#optionFour{
    font-size: 7px;
}

}


/* -----  medium screen  ------  */

@media screen and (max-width:1024px) {
     .inner-div{
          /* border: 1px solid red; */
          width: 65%;
     }    
}



@media screen and (max-width:1300px) {
     .option{
           margin-top: 80px;
     }
     
}

