
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://t4.ftcdn.net/jpg/04/39/13/37/360_F_439133763_FrLdhZsd5aGC23r9ATARuKJBr8ifZjIe.jpg);
    background-size: cover;
     background-repeat: no-repeat;
     /* height: 100vh; */
     height: 700px;
}

#main{
  width: 50%;
  margin-top: 80px;
   box-shadow: 0 0 10px blue;
   margin-left: 20px;
   height: 40vh;
   padding: 10px;
}

h1{
    text-align: center;
    color: wheat;
    font-size: 40px;
     align-items: center;
     margin-top: 30px;
}

h2{
     /* border: 1px solid red; */
      margin-top: 30px;
}
p{
    margin-top: 30px;
    font-size: 30px;
}
#report{
     margin-top: 10px;
}

#playagain{
     padding: 7px 25px;
     margin: auto;
      border: none;
      background-color: rgb(58, 200, 23);
      color: #fff;
      font-weight: 500;
      margin-left: 20px;
}
#end{
    padding: 7px 25px;
    margin: auto;
    border: none;
    background-color: rgb(204, 39, 39);
    color: #fff;
    font-weight: 500;
    margin-left: 20px;
}

/* ---------------- */


.circular-chart {
	display: block;
	margin: 10px auto;
	max-width: 80%;
	max-height: 250px;
}

.circle-bg {
	fill: none;
	stroke: #eee;
	stroke-width: 3.8;
}

.circle {
	fill: none;
	stroke-width: 2.8;
	stroke-linecap: round;
	animation: progress 1s ease-out forwards;
}

@keyframes progress {
	0% {
		stroke-dasharray: 0 100;
	}
}
#resultDetail{
     color: white;
     text-align: center;
}


.circular-chart.red .circle {
	stroke: #ff0000;
}

.circular-chart.orange .circle {
	stroke: #ff9f00;
}

.circular-chart.green .circle {
	stroke: #4cc790;
}

.circular-chart.blue .circle {
	stroke: #3c9ee5;
}

.circular-chart.teal .circle {
	stroke: #008080;
}

#percentage {
	fill: #666;
	font-size: 0.5em;
	text-anchor: middle;
} 

@media screen and (max-width:667px) {
     h1{
         font-size: 10px;
     }

    
}
